*{
  box-sizing: border-box;
}

body{
  display: flex;
  margin: 47px;
  justify-content: center;
  background: #23252C;
  ;
}
wrapper{
  position: absolute;
  margin: 47px 116px;
  width: 317px;
  height: 780px;
  display: flex;
  flex-direction: column;
 
}

.image{
  background: #1A1B21;
  border-radius: 10px 10px 0px 0px;
  filter: drop-shadow(5px black);
}
#photo{
  height: 317px;
  border-radius: 10px 10px 0px 0px;
  
}

.info{
  background: #1A1B21;
  padding: 20px 40px;

}

#name{
font-size: 25px;
font-weight: 700;
line-height: 30px;
text-align: center;
margin-bottom: 0px;
margin-top: 0px;
color: white;
}
#profession{
  font-size: 13px;
  font-weight: 400;
  line-height: 10px;
  margin-top: 0px;
  text-align: center;
  color: #F3BF99;
}

.buttons{
  display:flex;
  justify-content: space-evenly;
  gap: 8px;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}

#email{
  height: 34px;
  width:115px;
  padding: 9px, 13px, 9px, 11px;
  border-radius: 6px;
  border: 1px;
}
#linkedin{
  height: 34px;
  width: 115px;
  padding: 9px, 13px, 9px, 11px;
  border-radius: 6px;
  border: 1px;
  background-color: #5093E2;
  color: white;
}

.content{
  width: 247px;
  color: white;
}

.content >p{
  color: #DCDCDC;
  font-size: 10px;
font-weight: 300;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
margin: 0px;
}

.content >h4{
  margin-bottom: 0px;
}

.footer{
  height: 64px;
  background-color:#161619;
  border-radius: 0px 0px 10px 10px;
}

i{
  height: 15px;
  width: 15px;
}